@model NFTMarketplace_webapplicaties_opnieuw.Viewmodels.GebruikerEditViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>@Model.Naam wijzigen</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Geboortedatum" class="control-label"></label>
                <input asp-for="Geboortedatum" class="form-control" />
                <span asp-validation-for="Geboortedatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="GebruikerId" class="form-control" hidden />
                <input type="submit" value="Wijzigen" class="btn btn-primary" />
                <a asp-controller="Gebruiker" asp-action="Index" class="btn btn-primary">Terug</a>
            </div>
        </form>
    </div>

</div>
<div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }