@page
@model LoginModel

@{
    ViewData["Title"] = "Log In";
}
<style>
    .jumbotron {
        background-color: black;
        height: 40vh;
        width: auto;
        background-position: center center;
        background-repeat: no-repeat;
    }
</style>

<h1 class="text-primary">@ViewData["Title"]</h1>
<h4>
    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="button text-primary">Register as a new user</a>
</h4>
<div class="row mt-5">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label class="text-primary" asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="text-primary" asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label class="text-primary" asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword" class="button text-primary">Forgot your password?</a>
                    </p>
                    
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row mt-1">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="jumbotron jumbotron-fluid">
            <img src="~/images/tubbycats/tubbycats0.png" class="d-block w-100" />
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
