@{
    ViewData["Title"] = "About Us";
}
<h1 class="mt-5">@ViewData["Title"]</h1>
<div class="m-5">
    <p class="text-primary">
        In 2017 we witnessed the birth of CryptoKitties. For the first time, the world experienced a
        decentralized application built on blockchain, but that was targetted towards a mainstream audience.

    </p>
    <p class="text-primary">
        While Cryptokitties felt like a toy, it represented a dramatic shift in how we interact with items in the digital
        world. Suddenly digital items lived on shared, public blockchains. This made it possible to view the items anywhere,
        exhange them openly and own them in a way that was never possible before.
        This was the start of NFT's
    </p>
    <p class="text-primary">
        When you think of NFT's, art is probably the first thing that comes to mind. NFT technology has found it's way into
        art. Even into the world of fine art.
        One of the first and most notorious examples of NFT art was a digital collage called Everydays – The First 5000 Days.
        The NFT was sold at auction at Christie’s, where it fetched nearly 60 million euros.
    </p>
    <p class="text-primary">
        Here, on this website, you can buy NFT's for your own collection.
    </p>
</div>

