@{
    ViewData["Title"] = "Home Page";
}

<div class="row m-5">
    <div class="col-md d-flex align-items-center justify-content-center">
        <h1 class="text-primary ">DISCOVER AND COLLECT OUR EXTRAORDINARY NFTs</h1>
    </div>
    <div class="col-md">
        <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class=" btn btn-link active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="btn btn-link" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="btn btn-link" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2000">
                    <img src="~/images/placeholder.jpg" class="d-block w-100" alt="test">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="~/images/contractions/contractions1.png" class="d-block w-100" alt="test">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="~/images/placeholder.jpg" class="d-block w-100" alt="test">
                </div>
            </div>
            <button class="carousel-control-prev btn btn-link" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next btn btn-link" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div class="m-5">
    <h3 class="text-primary ml-2">COLLECTIONS</h3>
</div>

<div class="row ml-5">
    @foreach (var collectie in Model.Collecties)
    {
        <div class="col-md-4 bg-dark">
            <div class="card bg-dark">
                <img src="@collectie.Afbeelding" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-uppercase text-primary">@collectie.Naam</h5>
                    <p class="card-text text-primary">@collectie.Beschrijving</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" asp-controller="Collectie" asp-action="Details" asp-route-id="@collectie.CollectieId">Details</a>
                </div>
            </div>
        </div>

    }
</div>