@model NFTMarketplace_webapplicaties_opnieuw.Viewmodels.EditProductViewModel

@{
    ViewData["Title"] = "Edit Product";
}

<h1 class="mt-5">@ViewData["Title"]</h1>

<form asp-action="EditProduct">
    <input type="hidden" asp-for="ProductId" />
    <div class="row mt-5">
        <div asp-validation-summary="ModelOnly" class="text-danger" />
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Naam" class="control-label text-primary">Name</label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prijs" class="control-label text-primary">Price</label>
                <input asp-for="Prijs" class="form-control" />
                <span asp-validation-for="Prijs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Afbeelding" class="control-label text-primary">Image</label>
                <input asp-for="Afbeelding" class="form-control" />
                <span asp-validation-for="Afbeelding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beschrijving" class="control-label text-primary">Description</label>
                <input asp-for="Beschrijving" class="form-control" />
                <span asp-validation-for="Beschrijving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" value="Edit" class="btn btn-primary btn-block" />
                    </div>
                    <div class="col-md-6">
                        <a asp-action="Producten" class="btn btn-primary btn-block">Back</a>
                    </div>
                </div>

            </div>
            
            
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="AanmaakDatum" class="control-label text-primary">Creation Date</label>
                <input asp-for="AanmaakDatum" class="form-check" />
                <span asp-validation-for="AanmaakDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AantalBeschikbaar" class="control-label text-primary"># Available</label>
                <input asp-for="AantalBeschikbaar" class="form-control"/>
                <span asp-validation-for="AantalBeschikbaar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CollectieId" class="control-label text-primary">Collection Id</label>
                <input asp-for="CollectieId" class="form-control" />
                <span asp-validation-for="CollectieId" class="text-danger"></span>
            </div>
           
        </div>
    </div>
</form>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }